html {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 100;
  height: 100%;
}

body {
  background-color: #AC1A1F;
  height: 100%;
}

.container {
  width: 100%;
  margin: 0px;
  height: 80%;
  padding: 200px;
  padding-top: 150px;
}

.container .title {
  text-anchor: middle;
  text-align: center;
}

.image img{
  width: 100%;
}

.image {
  height: 200px;
  width: 100%;
  background-image: url('../img/section-bg-verbatims.jpg');
}

h1 {
  color: #fff;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 800;
  font-size: 80px;
  letter-spacing: 5px;
}

h3 {
  color: #fff;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  font-size: 30px;
}

#graphic {
  padding-top: 0px;
}


#sections {
  position: relative;
  display: inline-block;
  width: 250px;
  top: 50px;
  z-index: 90;
  /*padding-bottom: 300px;*/
  padding-top: 200px;
  margin-right: 50px;
}

.step {
  margin-bottom: 300px;
  /*margin-top: 200px;*/
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 23px;
  color: #707070;
}

#sections .title {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #262626;
  line-height: 1.2em;
}

#extra-space {
  height: 300px;
}

#vis {
  display: inline-block;
  position: fixed;
  padding-top: 150px;
  padding-left: 70px;
  padding-right: 20px;
  top: 50px;
  z-index: 1;
  margin-left: 0;
  /* height: 600px; */
  /* width: 600px; */
  /* background-color: #ddd; */
}

#vis .title {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 800;
  font-size: 60px;
  text-anchor: middle;
  letter-spacing: 4px;
  padding-left: 50px;
}

#vis .sub-title {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 100;
  font-size: 20px;
  text-anchor: middle;
  margin: 0px;
  padding-left: 50px;
  fill: #707070;
}

.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.highlight {
  fill: #008080;
  font-weight: bold;
}

.cough-arrow {
  stroke: #000;
  stroke-width: 4px;

}

.nodes image {
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
}

.invisible {
  cursor: auto;
}

.label {
  font-family: 'Raleway', sans-serif;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 110px;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  background: #2F2F2F;
  color: #FFF;
  pointer-events: none;
  z-index: 100;
}

path line {
  fill: none;
  stroke: #000;
}

path{
  border: none !important;
  stroke: none;
}

nav{
  background-color: #ce181e;
  height: 50px;
  top: 0px;
  width: 100%;
  padding: 15px;
  /*text-align: right;*/
  position: fixed;
}

nav a{
  color: #fff;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-right: 30px;
}
nav > div {
  position: fixed;
  top: 15px;
  right: 0;
}
nav a:hover{
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

nav img{
  height: 20px;
  width: auto;
}
