html, body{
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Oswald', sans-serif;
  font: 12px;
  color: #2F2F2F;
  background-color: #212121;
  /*background-color: #fff;*/
}

svg{
  background-color: #fff;
  /*background-color: #212121;*/
}

h1{
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  color: #fff;
  /*color: #212121*/
}

p{
  color: #7f7f7f;
}

footer{
  text-align: center;
  padding-top: 15px;
}

#divide{
  height: 70px;
  background-color: #7362ac;
}

#description p{
  text-align: center;
  color: #4F4F4F;
}

#description{
  margin-top: 40px;
  margin-bottom: 150px;
}

#header{
  height: 200px;
}

#title{
  /*background-color: #3f007d;*/
  background-color: #212121;
  /*background-color: #fff;*/
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 85px;
  height: 35px;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #FFF;
  background: #2F2F2F;
  border: 0px;
  pointer-events: none;
}

div.tooltip p{
  font-weight: 600;
  margin: 0;
}

.x-axis, .y-axis{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #2F2F2F;
}

g .tick text{
  fill: #2F2F2F; !important
  color: #2F2F2F; !important
}

g .tick line{
  stroke: #2F2F2F; !important
  stroke-width: 6; !important
}

.dot {
  /*stroke: none;*/
/*  fill: #6534F6;*/
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

body {
  font: 10px sans-serif;
  margin: 0;
  text-anchor: end;
}

.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.area {
  fill: #e7e7e7;
}
